<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Offres</h5>
			
<p-table
#dt1
[value]="offres"
dataKey="id"
[rows]="10"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[10, 25, 50]"

[paginator]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[globalFilterFields]="['nom', 'lieu', 'type', 'structure']"
>
<ng-template pTemplate="caption">
    <div class="flex">
        <button pButton label="Effacer" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
      
       
 
 
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="chercher" />
        </span>
        <button [routerLink]="['/table/addOffre']" style="margin-left: 10px;" pButton label="Ajouter une offre" icon="pi pi-add" ></button>
       </div>
  
</ng-template>
<ng-template pTemplate="header">
    <tr>
        <th  pSortableColumn="nom">
            <div class="flex align-items-center">
                Nom
                <p-sortIcon field="nom"></p-sortIcon>
            </div>
        </th>
        <th  pSortableColumn="lieu" style="min-width:15rem">
            <div class="flex align-items-center">
                Lieu
                <p-sortIcon field="lieu"></p-sortIcon>
            </div>
        </th>
        <th  pSortableColumn="structure" style="min-width:15rem">
            <div class="flex align-items-center">
                Structure
                <p-sortIcon field="structure"></p-sortIcon>
                   
            </div>
        </th>
        <th  pSortableColumn="type"style="min-width:10rem">
            <div class="flex align-items-center">
                Type
                <p-sortIcon field="structure"></p-sortIcon>
            </div>
        </th>
        <!--<th style="min-width:10rem">
            <div class="flex align-items-center">
               Description
                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
            </div>
        </th>-->
        <th pSortableColumn="validite" style="min-width:10rem">
            <div class="flex align-items-center">
                Validite
            <!--    <p-columnFilter field="status" matchMode="equals" display="menu">-->
                    
                    <p-sortIcon field="structure"></p-sortIcon>
            </div>
        </th>
        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Date de Fin
            
               
            </div>
        </th>
        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Nombre de candidatures
            
               
            </div>
        </th>

        <th style="min-width:10rem">
            <div class="flex align-items-center">
                Nombre de consultation
            
               
            </div>
        </th>
       
        <th style="width: 3rem">
            <div class="flex align-items-center">
                Modifier
               
            </div>
        </th>
       
        <th style="width: 3rem">
            <div class="flex align-items-center">
                Voir les candidatures
             
            </div>
        </th>
        <th style="width: 3rem">
            <div class="flex align-items-center">
                Supprimer
             
            </div>
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-offre>
    <tr>
        <td>
            {{offre.nom}}
        </td>
        <td>
            <!--<img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" style="width: 20px" />-->
            <span class="ml-1 vertical-align-middle">{{offre.lieu}}</span>
        </td>
        <td>
           <!-- <img [alt]="customer.representative.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}" width="32" style="vertical-align: middle" />-->
            <span class="ml-1 vertical-align-middle">{{offre.structure}}</span>
        </td>
        <td>
          {{offre.type}}
        </td>
        <!--<td>
            <a  (click)="showDialog()"> <i 
                style="color: blue; " class="pi pi-eye"></i>  </a>
            <p-dialog header="Description" [(visible)]="visible" [style]="{ width: '50vw', height: '300px' }">
                {{offre.description}}
              </p-dialog>
              {{offre.description}}
        </td>-->
        <td>
            {{offre.validite}}
        </td>
        <td>
            {{offre.dateFin}}
        </td>
        <td>
            {{offre.nbCandidature}}
        </td>
        <td>
            {{offre.nbConsultation}}
        </td>
        <td>
            <a [routerLink]="['/table/editOffre']" [queryParams]="{id: offre.id}"> <i 
                style="color: blue; " class="pi pi-pencil"></i>  </a>
        </td>
     

        <td>
            <a [routerLink]="['/table/candidatures']" [queryParams]="{offre: offre.id}"  > <i 
                style="color:blue;" class="pi pi-eye"></i>  </a>
        </td>
        
        <td> 

            


            <p-toast></p-toast>
            <p-confirmDialog #cd [style]="{width: '50vw'}">
                <ng-template pTemplate="header">
                    <h3>Suppression de l'offre</h3>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button type="button" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
                    <button style="background-color: red;" type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
                </ng-template>
            </p-confirmDialog>
            

             <i (click)="confirm2(offre.id)"  id="trash"
                style="color: red;"  class="pi pi-trash"></i>  
        </td>
      
    </tr>
</ng-template>
<ng-template pTemplate="emptymessage">
    <tr>
        <td colspan="7">No customers found.</td>
    </tr>
</ng-template>
</p-table>
		</div>
	</div>
</div>
